CONF_VERSION = "2"
INIT_MANAGER = "systemd"
MACHINE="qemu${ARCH}"
SSTATE_DIR="$GITHUB_WORKSPACE/sstate"
TMPDIR="$GITHUB_WORKSPACE/tmp"
DL_DIR="$GITHUB_WORKSPACE/downloads"
DISTRO_FEATURES += "rauc"
MACHINE_FEATURES:append = " pcbios efi" 
EXTRA_IMAGEDEPENDS += "ovmf"
PREFERRED_RPROVIDER_virtual-grub-bootconf = "rauc-qemu-grubconf"
CORE_IMAGE_EXTRA_INSTALL += "rauc"
PACKAGECONFIG:remove:pn-rauc = "service"
RAUC_SLOT_rootfs[fstype] = "ext4"
RAUC_SLOT_rootfs[adaptive] = "block-hash-index"
RAUC_KEYRING_FILE = "$GITHUB_WORKSPACE/rauc-ca/ca.cert.pem"
RAUC_KEY_FILE = "$GITHUB_WORKSPACE/rauc-ca/dev.key"
RAUC_CERT_FILE = "$GITHUB_WORKSPACE/rauc-ca/dev.cert"
IMAGE_INSTALL:append = " myapp"
